@import "../../components/component.scss";

.home {
  background: linear-gradient(39.97deg, #00f3b9 0.79%, #2187ff 79.29%);
}
.header {
  padding: 40px;
  padding-top: 39px;
  .navbar {
    .container-fluid {
      padding: 0;
      .login {
        margin-left: 3px;
        margin-right: 21px;
        .myButton {
          background-color: $white;
          color: $primary;
          width: 117px;
          height: 52px;
        }
      }
      .navbar-brand {
        padding: 10px;
        margin-right: 32px;
      }
      .navbar-toggler {
        padding: 8px 6.66px;
        width: 40px;
        .navbar-toggler-icon {
          background-image: url(../../../assets/header/menu.svg);
          width: 30px;
        }
      }
      .navbar-collapse {
        padding: 4px 0px;
        .navbar-nav {
          margin-right: 44px;
          .nav-item {
            margin-right: 21px;
            .nav-link {
              @extend .myLink;
              padding: 10px;
            }
          }
          .nav-item:last-child {
            margin-right: 0;
          }
        }
        form {
          .form-control {
            @extend .myInput;
            border: none;
            margin-right: 12px;
            width: 273px;
          }
          .myButton {
            padding: 19px 38px;
            border: none;
            background-color: $white;
            color: $primary;
            @media (max-width: 485px) {
              margin-top: 15px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .header {
    .navbar {
      width: 100%;
      .container-fluid {
        .navbar-collapse {
          justify-content: end;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .header {
    .navbar {
      .container-fluid {
        position: relative;
        .navbar-collapse {
          background-color: #81818f73;
          position: absolute;
          top: 72px;
          width: calc(100% - 10px);
          margin-left: 10px;
          form {
            padding-left: 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .header {
    padding: 17px 0;
    padding-left: 25px;
    padding-right: 16px;
    .navbar {
      .container-fluid {
        .navbar-brand {
          padding-right: 0px;
          margin-right: 0;
        }
      }
    }
  }
}
@media (max-width: 418px) {
  .header {
    .navbar {
      .container-fluid {
        .login {
          display: none !important;
        }
      }
    }
  }
}
