@import "../../base/_typography.scss";
.myInput {
  background: $white;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 39px;
  padding: 19px 35px;
  height: 54px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171d;
}
