@import "../../base/base.scss";
.intro {
  margin-top: 100px;
  h1,
  h2 {
    margin-top: 27px;
    margin-bottom: 17px;
  }
  div {
    width: 429px;
    margin-bottom: 90px;
  }
  .myButton {
    background-color: $white;
    padding: 16px 0px;
    height: 65px;
    width: 236px;
    h3 {
      color: $primary;
    }
  }
}

@media (max-width: 575px) {
  .intro {
    margin-top: 80px;
    div {
      width: 298px;
      margin-bottom: 69px;
    }
  }
}
