.intro {
  text-align: center;
  margin-top: 148px;
  h1,
  h2 {
    margin-top: 27px;
    margin-bottom: 17px;
  }
  div {
    width: 429px;
    margin: auto;
    margin-bottom: 90px;
    h4 {
      margin: 0;
    }
  }
  .myButton {
    background-color: $white;
    padding: 16px 0px;
    height: 65px;
    width: 236px;
    h3 {
      color: $primary;
      margin: 0;
    }
  }
}

@media (max-width: 575px) {
  .intro {
    margin-top: 107px;
    div {
      width: 298px;
      text-align: center;
      margin-bottom: 69px;
    }
  }
}
