@import "./variables";
.myText {
  color: $white;
  font-style: normal;
  margin: 0;
}
.myH1 {
  @extend .myText;
  font-weight: 900;
  font-size: 55px;
  line-height: 65px;
  letter-spacing: 0.2px;
}
.myH2 {
  @extend .myText;
  font-family: Roboto;
  font-weight: normal;
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
}
.myH3 {
  @extend .myText;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
}
.myH4 {
  @extend .myText;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.myH5 {
  @extend .myText;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
}

.myP {
  @extend .myText;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
}
