.feature {
  .feature-top {
    padding-top: 80px;
    padding-bottom: 66.68px;
    h2 {
      margin-top: 17px;
      margin-bottom: 27px;
    }
    div.h4-container {
      width: 298px;
      @media (max-width: 330px) {
        width: auto;
      }
    }
  }
  .feature-bottom {
    padding-bottom: 98px;
    .right {
      margin-top: 74.89px;
      div.content {
        width: 255px;
        .icon-container {
          height: 53px;
          img {
            width: 43px;
            margin-right: 10px;
          }
        }
        .discription {
          padding: 10px 0px;
        }
      }
      .content-1 {
        margin-bottom: 75px;
      }
    }
  }
}

@media (min-width: 992px) {
  .feature {
    .feature-bottom {
      .left {
        max-width: 700px;
      }
    }
  }
}
@media (min-width: 1200px) {
  .feature {
    .feature-bottom {
      .left {
        max-width: 900px;
      }
    }
  }
}
@media (min-width: 1400px) {
  .feature {
    .feature-top {
      padding-top: 96px;
      padding-bottom: 138.51px;
    }
    .feature-bottom {
      padding-bottom: 153.66px;
      .left {
        max-width: 949.62px;
        margin-right: 94.53px !important;
      }
      .right {
        margin-right: calc(73.16px - 67.59px);
      }
    }
  }
}
