.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 216px;
  padding-bottom: 109px;
}

.newsletter .top {
  display: none;
}

.newsletter .top .myH2 {
  margin-top: 17px;
  margin-bottom: 27px;
}

.newsletter .top div.info {
  width: 298px;
  margin: auto;
}

.newsletter .left {
  margin-left: 119px;
  margin-right: 113px;
}

.newsletter .left img {
  vertical-align: top;
}

.newsletter .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newsletter .right .myH2 {
  margin-top: 17px;
  margin-bottom: 35px;
  margin-right: 0.6px;
}

.newsletter .right div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 34px;
}

.newsletter .right div .myInput {
  padding: 19px 39px;
  background: #f4f4f4;
  border: 1px solid #e8e8e8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 39px;
  margin-right: 12px;
  width: 273px;
}

.newsletter .right div .myButton {
  padding: 19px 38px;
}

@media (max-width: 1350px) {
  .newsletter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .newsletter .left {
    margin-left: 0;
  }
  .newsletter .right {
    width: 353px;
  }
  .newsletter .right div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .newsletter .right div .myInput,
  .newsletter .right div .myButton {
    width: 353px;
  }
  .newsletter .right div .myInput {
    width: 353px;
    margin-right: 0;
    margin-bottom: 12px;
  }
}

@media (max-width: 1200px) {
  .newsletter .left {
    margin-right: 70px;
  }
  .newsletter .left img {
    width: 550px;
  }
}

@media (max-width: 991.98px) {
  .newsletter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 81px;
  }
  .newsletter .left {
    margin-right: 0;
  }
  .newsletter .right {
    width: 550px;
    margin-top: 95.25px;
    text-align: center;
  }
  .newsletter .right .myH3 {
    margin-bottom: 10px;
  }
  .newsletter .right div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 575.98px) {
  .newsletter {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 114px;
  }
  .newsletter .top {
    text-align: center;
    display: block;
    margin-bottom: 95.25px;
  }
  .newsletter .left {
    padding: 0px 14.5px;
  }
  .newsletter .left img {
    width: 100%;
  }
  .newsletter .right {
    padding: 0px 32.5px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .newsletter .right .myH3:first-child,
  .newsletter .right .myH2 {
    display: none;
  }
  .newsletter .right div .myButton {
    height: 50px;
  }
}

@media (max-width: 417px) {
  .newsletter .right div .myInput,
  .newsletter .right div .myButton {
    width: 100%;
  }
}

@media (min-width: 1441px) {
  .newsletter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .newsletter .left {
    margin-left: 0;
  }
}
/*# sourceMappingURL=newletter.css.map */