@import "../../base/base.scss";
.contact-us {
  padding-top: 160px;
  padding-bottom: 149px;
  .container {
    .row {
      .column-1 {
        .top {
          .info {
            padding: 10px;
            margin-top: 17px;
            margin-bottom: 50px;
            h4 {
              max-width: 298px;
            }
          }
          .icons {
            padding: 10px;
            .img-container {
              width: 40.99px;
              height: 40.99px;
            }
            .img-container:not(:last-child) {
              margin-right: 24px;
            }
          }
        }
      }
      .column-2 {
        padding: 0 30px;
        margin-top: 60px;
        margin-bottom: 78px;
        .map {
          width: 100%;
          iframe {
            width: 100%;
            height: 323.19px;
          }
        }
      }
      .column-3 {
        .column {
          padding: 0px 7.5px;
        }
        .container {
          max-width: 264px;
          .row {
            margin: 0px -30px !important;
          }
          .address {
            .location,
            .phone,
            .mail {
              img {
                margin-right: 10px;
              }
              .info {
                padding: 10px;
              }
            }
            .location {
              .info {
                h5 {
                  width: 208px;
                }
              }
            }
          }
          .column:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
      .column-4 {
        padding: 0px 20px;
        margin-top: 68px;
        .contact-form {
          height: 670px;
          // width: 868px;
          padding-top: 130px;
          padding-bottom: 52px;
          padding-left: 50px;
          padding-right: 50px;
          background-color: $white;
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          border-radius: 20px;
          form {
            width: 100%;
            height: 100%;
            .myInput {
              padding: 19px 20px;
              background: #f5f5f5;
              border: 1px solid #e8e8e8;
            }
            textarea {
              height: 193px;
              box-sizing: border-box;
              padding: 23px 20px;
              background: #f5f5f5;
              border: 1px solid #e8e8e8;
              resize: none;
              font-family: "Roboto";
              font-size: 14px;
              line-height: 16px;
              letter-spacing: 0.1px;
              color: #18171d;
            }
            input[type="submit"] {
              width: 145px;
              height: 52px;
              background-color: $primary;
              color: $white;
              border: none;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .contact-us {
    padding-top: 180px;
    padding-bottom: 129px;
    .container {
      .row {
        .column-2 {
          margin-top: 60px;
          margin-bottom: 60px;
        }
        .column-3 {
          .container {
            max-width: 564px;
            .row {
              .column {
                img {
                  margin-right: 0;
                  margin-bottom: 10px;
                }
              }
            }
          }
        }
        .column-4 {
          margin-top: 50px;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .contact-us {
    padding-top: 210px;
    padding-bottom: 99px;
    .container {
      max-width: 908px;
      .row {
        .column-2 {
          padding: 0 18.5px;
        }
      }
    }
  }
}
