@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
body {
  margin: 0px;
  font-family: "Roboto";
  background-color: #252b42;
}

::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171d !important;
}

:-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171d !important;
}

::-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171d !important;
}

::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171d !important;
}

.myText, .myH1, .myH2, .myH3, .myH4, .myH5, .myP {
  color: #ffffff;
  font-style: normal;
  margin: 0;
}

.myH1 {
  font-weight: 900;
  font-size: 55px;
  line-height: 65px;
  letter-spacing: 0.2px;
}

.myH2 {
  font-family: Roboto;
  font-weight: normal;
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
}

.myH3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
}

.myH4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.myH5 {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
}

.myP {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
}

.contact-us {
  padding-top: 160px;
  padding-bottom: 149px;
}

.contact-us .container .row .column-1 .top .info {
  padding: 10px;
  margin-top: 17px;
  margin-bottom: 50px;
}

.contact-us .container .row .column-1 .top .info h4 {
  max-width: 298px;
}

.contact-us .container .row .column-1 .top .icons {
  padding: 10px;
}

.contact-us .container .row .column-1 .top .icons .img-container {
  width: 40.99px;
  height: 40.99px;
}

.contact-us .container .row .column-1 .top .icons .img-container:not(:last-child) {
  margin-right: 24px;
}

.contact-us .container .row .column-2 {
  padding: 0 30px;
  margin-top: 60px;
  margin-bottom: 78px;
}

.contact-us .container .row .column-2 .map {
  width: 100%;
}

.contact-us .container .row .column-2 .map iframe {
  width: 100%;
  height: 323.19px;
}

.contact-us .container .row .column-3 .column {
  padding: 0px 7.5px;
}

.contact-us .container .row .column-3 .container {
  max-width: 264px;
}

.contact-us .container .row .column-3 .container .row {
  margin: 0px -30px !important;
}

.contact-us .container .row .column-3 .container .address .location img,
.contact-us .container .row .column-3 .container .address .phone img,
.contact-us .container .row .column-3 .container .address .mail img {
  margin-right: 10px;
}

.contact-us .container .row .column-3 .container .address .location .info,
.contact-us .container .row .column-3 .container .address .phone .info,
.contact-us .container .row .column-3 .container .address .mail .info {
  padding: 10px;
}

.contact-us .container .row .column-3 .container .address .location .info h5 {
  width: 208px;
}

.contact-us .container .row .column-3 .container .column:not(:last-child) {
  margin-bottom: 10px;
}

.contact-us .container .row .column-4 {
  padding: 0px 20px;
  margin-top: 68px;
}

.contact-us .container .row .column-4 .contact-form {
  height: 670px;
  padding-top: 130px;
  padding-bottom: 52px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
}

.contact-us .container .row .column-4 .contact-form form {
  width: 100%;
  height: 100%;
}

.contact-us .container .row .column-4 .contact-form form .myInput {
  padding: 19px 20px;
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
}

.contact-us .container .row .column-4 .contact-form form textarea {
  height: 193px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 23px 20px;
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  resize: none;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171d;
}

.contact-us .container .row .column-4 .contact-form form input[type="submit"] {
  width: 145px;
  height: 52px;
  background-color: #2091f9;
  color: #ffffff;
  border: none;
}

@media (min-width: 768px) {
  .contact-us {
    padding-top: 180px;
    padding-bottom: 129px;
  }
  .contact-us .container .row .column-2 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .contact-us .container .row .column-3 .container {
    max-width: 564px;
  }
  .contact-us .container .row .column-3 .container .row .column img {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .contact-us .container .row .column-4 {
    margin-top: 50px;
  }
}

@media (min-width: 992px) {
  .contact-us {
    padding-top: 210px;
    padding-bottom: 99px;
  }
  .contact-us .container {
    max-width: 908px;
  }
  .contact-us .container .row .column-2 {
    padding: 0 18.5px;
  }
}
/*# sourceMappingURL=contact-us.css.map */